.loader {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    padding: 10px;
    & h2,
    h3,
    span {
        padding: 10px;
    }
}

.noVideos {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
